.libraryItem {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 10px 10px 38px 2px #97a9aa;
  padding: 10px;
  background-color: rgb(220, 227, 231);
}

.itemTitle {
  font-size: 18px;
  margin: 10px;
}

.itemImage {
  height: 300px;
  height: 400px;
  object-fit: contain;
  transition-duration: 500ms;
}

.itemImage:hover {
  transform: scale(1.05);
}

.itemButtons {
  display: flex;
  gap: 10px;
  padding: 10px;
}
