.mediaPage {
  display: flex;
  flex-direction: column;
  padding: 0 12%;
  justify-content: center;
}

.mediaCardsWrapper {
  display: flex;
  justify-content: center;
}

.mediaCardsWrapper h2 {
  font-size: 32px;
  color: rgb(29, 42, 42);
  font-weight: 600;
}

.mediaCards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
