.myInput {
  width: 100%;
  margin: 5px 0;
  color: rgb(20, 35, 63);
  background-color: rgb(44, 221, 221);
  border-radius: 5px;
  outline: none;
  align-items: center;
  padding: 5px;
}

.myInput::placeholder {
  color: rgb(77, 95, 95);
  font-style: italic;
}
